[data-theme="dark"] {
    --primary: #47a8bd;
    --secondary: #6e7dab;
    --accent: #ffc857;
    // --primary-focus: rgba(16, 149, 193, 0.25)
    --black: #22333b;
    --white: #F7F7FF;
    --form-element-background-color: var(--white);
    --form-element-color: var(--black);
    --form-element-active-border-color: var(--black);
    --form-element-focus-color: var(--accent);
}

[role="button"] {
    padding: 0.5rem 0.75rem;
}

[role="button"]:focus {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),0 0 0 var(--outline-width) var(--accent);
}

[role="button"].outline {
    color: var(--accent);
    --border-color: var(--accent);

    :hover, :active, :focus {
        background-color: var(--accent);
        color: var(--black);
    }
}

// outline button
:is(button,input[type=submit],input[type=button],[role=button]).outline, input[type=reset].outline {
    color: var(--accent);
    --border-color: var(--accent);
}

// outline button on hover, active, focus
:is(button,input[type=submit],input[type=button],[role=button]).outline:is([aria-current],:hover,:active,:focus), input[type=reset].outline:is([aria-current],:hover,:active,:focus) {
    background-color: var(--accent);
    color: var(--black);
}

section {
    margin-bottom: 0;
    padding: 4rem 1rem;
}

a {
    --color: var(--accent);
}

a:is([aria-current],:hover,:active,:focus) {
    --color: var(--accent);
    filter: brightness(120%);
}

ul {
    padding-left: 0.5rem;

    li {
        list-style-type: '- ';
    }
}